body {
  font-size: 15px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #d3cbcb;
}

.container {
  width: 80%; /* Примерная ширина контейнера */
  max-width: 450px;
  margin: 0 auto; /* Центрирование контейнера */
  position: relative; /* Настройка позиционирования */

}

.search-box {
  display: flex; /* Использование flexbox для выравнивания элемен тов */
  align-items: center; /* Выравнивание элементов по вертикали */
  border: 1px solid #ccc; /* Пример рамки */
  padding: 10px; /* Отступы внутри блока */
  
}

.search-input {
  flex-grow: 1; /* Элемент занимает все доступное пространство */
  margin-right: 10px; /* Отступ справа */
  
}

.search-input__field {
  width: 100%; /* Заполнение всей доступной ширины */
  border-radius: 6px;
  padding: 5px; /* Отступы внутри поля ввода */
  height: 30px;
  overflow: hidden; /* Скрытие текста, выходящего за пределы области ввода */
}

.search-button {
  padding: 8px 10px; /* Задание отступов для кнопки */
  background-color: #7fda46; /* Цвет фона кнопки */
  color: #fff; /* Цвет текста кнопки */
  border: none; /* Убираем границу у кнопки */
  cursor: pointer; /* Меняем курсор при наведении на кнопку */
  position: absolute; /* Абсолютное позиционирование */
  right: 20px; /* Отступ справа от правого края */
  top: 50%; /* Положение сверху по вертикали */
  transform: translateY(-50%); /* Сдвигаем кнопку на половину своей высоты вверх, чтобы центрировать ее по вертикали */
  border-radius: 6px;
}

.clear-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #888;
    padding: 0;
    display: none;
    position: absolute; /* Позиционируем кнопку абсолютно */
    right: 85px; /* Отступ справа от родительского элемента */
    top: 50%; /* Положение сверху */
    transform: translateY(-50%); /* Центрируем по вертикали */
    z-index: 1; /* Поднимаем кнопку выше остальных элементов */
}

.clear-button:hover {
  color: #0c0c0c;
}

/*стили для блока описания компании*/

.container-info {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 2% auto;
  max-width: 20%;
  width: 100%;
  overflow: hidden;
}

.container-info .hidden-description {
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  margin-top: 10px;
}

.container-info .hidden-description.show {
  visibility: visible;
  max-height: initial;
}

.container-info h1 {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin: 0;
}

.info-block {
  display: flex;
  flex-direction: column; /* Вертикальное расположение */
}

.info-block h2 {
  font-size: 16px;
  color: #555;
  margin: 0;
}

.info-block p {
  font-size: 16px;
  color: #754545;
  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* стиль к кнопке показать полностью*/
.show-more-button, .hide-more-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 6px 6px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 13px; /* Пример */
  line-height: 1; /* Пример */
}